<div class="row new-person">

	<div class="col-xs-8 col-xs-offset-2">
	<%- model_class = Person -%>
	<div class="page-header" style="text-align: center;">
	  <h1>Welcome to BTG 2015</h1>
	  <h4>Please complete your profile.</h4>
	</div>
	<%= render :partial => 'form' %>
	</div>
</div>